/* :root {
    --paper: rgb(21, 21, 21);
    --ink: rgb(253, 252, 250);
    --primary: rgb(251, 229, 84);
    --secondary: rgb(239, 114, 168);
    --graphite300: rgba(217, 218, 218, 0.863);
    --graphite200: rgb(31, 32, 33);
    --graphite100: rgb(110, 110, 110);
    --graphite400: rgb(80, 80, 79);
    --graphite500: rgb(23, 23, 23);
} */

/* .proj-links a:hover,
.proj-links a:focus,
.proj-links a:active {
    color: black;
    background-color: var(--secondary);
    box-shadow: 2px 2px 7px black;
    font-weight: 900;
}

.proj-links a+a:hover,
.proj-links a+a:focus,
.proj-links a+a:active {
    background-color: var(--primary);
    color: black;
}

.dark,
.dark-qoute-slider {
    background-color: rgb(53, 55, 58);
}

.dark h1,
.dark p,
.dark .about,
.dark .links a,
.dark ul li,
.dark ul li p,
.dark-qoute-slider ul,
.dark-qoute-slider p {
    color: var(--paper);
    font-weight: 600;
} */

