body {
    background-image: linear-gradient(var(--graphite100) 60%, rgb(126, 127, 127));
    color: var(--ink) 20%;
    font-family: 'Lato', sans-serif;
    line-height: 1.2;
}

header {
    background-color: var(--paper);
    background-size: cover;
    padding: 1.7rem;
    padding-top: 1.3rem;
    margin-bottom: .2rem;
    text-align: center;
}

h1 {
    margin-bottom: .1rem;
    font-size: 350%;
    font-weight: 700;
}

header p {
    margin-bottom: 1rem;
    font-size: 110%;
    font-weight: 500;
}

h1 nav {
    display: inline-flex;
}

nav ul {
    margin-top: .5rem;
}

header h1,
nav ul a li {
    display: inline-flex;
    color: var(--ink);
    padding: 7px;
    transition: flex-basis 500ms linear;
}

nav ul a li {
    transition: 500ms;
}

nav ul a li {
    font-size: larger;
    margin-right: 10px;

}



.container {
    display: flex;
    text-align: right;
    margin: 2rem;
    margin-bottom: 0;
    padding: 30px 20px 30px 30px;
    background-color: var(--paper);
    border-radius: 20px;
    box-shadow: 0 0 15px rgb(211, 211, 211);
    background-image: url('../images/bwPortraitRM.jpeg');
    background-size: 70%;
    background-position-x: 130%;
    background-position-y: 70%;
    background-repeat: no-repeat;
    height: 350px;
}

.container-content p {
    max-width: 130px;
    font-family: 'Cutive Mono', monospace;
    font-size: 93%;
    margin-left: -1em;
}

.container .links {
    font-size: 105%;
    font-weight: 600;
    font-family: 'Cutive Mono', monospace;
    margin-top: .5rem;
    max-width: 150px;
    margin-left: -2em;
    transition: .5s;
}

.container a {
    text-decoration: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    width: 100%;
}

.justify-center {
    align-items: center;
}

.box-column {
    flex: 1 0 100%;
    flex-direction: column;
    transition: flex-basis 500ms linear;
    margin-top: 3rem;
    background-color: var(--paper);
}

.qoute-slider {
    flex: 1 0 100%;
    width: 100%;
    min-height: 300px;
    margin-top: 3rem;
    /* position: relative; */
    background-color: var(--paper);
}

.slider {
    height: 160px;
    width: 100%;
    margin-top: 0;
    overflow: visible;
    position: relative;
}

.mask {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    overflow: hidden;
    height: 220px;
}

a {
    color: var(--ink);
}

.slider ul {
    display: flex;
    position: relative;
    align-content: center;
}

.slider li {
    max-width: 780px;
    max-height: 320px;
    position: absolute;
    list-style: none;
    text-align: center;
}

q {
    font-size: 20px;
    font-style: italic;
    line-height: 1.2;
}

.slider .source {
    font-size: 14px;
    line-height: 1.5;
}

.slider li.anim1 {
    animation: cycle 25s linear infinite;
}

.slider li.anim2 {
    animation: cycle2 25s linear infinite;
}

.slider li.anim3 {
    animation: cycle3 25s linear infinite;
}

.slider li.anim4 {
    animation: cycle4 25s linear infinite;
}

nav ul a li:hover {
    transform: scale(105%);
    /* font-weight: 600; */
}

a:hover {
    color: var(--graphite300);
}

.container .links:hover {
    margin-left: -2.5em;
}

@media screen and (max-width: 2000px) {
    .container {
        background-size: 45%;
        background-position-x: 100%;
        background-position-y: 70%;
        height: 400px;
    }

    .container-content p {
        max-width: 320px;
        font-family: 'Cutive Mono', monospace;
        font-size: 112%;
        margin-left: 15em;
    }

    .container .links {
        font-size: 114%;
        font-weight: 600;
        font-family: 'Cutive Mono', monospace;
        margin-top: .5rem;
        max-width: 150px;
        margin-left: 24em;
        transition: .5s;
    }

    .mask {
        display: block;
        margin-left: 500px;
        padding: 1em;

    }

    .slider li {
        text-align: right;
    }

    .container .links:hover {
        margin-left: 23.7em;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        background-size: 45%;
        background-position-x: 100%;
        background-position-y: 70%;
        height: 400px;
    }

    .container-content p {
        max-width: 220px;
        font-family: 'Cutive Mono', monospace;
        font-size: 108%;
        margin-left: 16em;
    }

    .container .links {
        font-size: 110%;
        font-weight: 600;
        font-family: 'Cutive Mono', monospace;
        margin-top: .5rem;
        max-width: 150px;
        margin-left: 19em;
        transition: .5s;
    }

    .qoute-slider {
        min-height: 200px;
        margin-top: 3rem;
        /* position: relative; */
        background-color: var(--paper);
    }

    .slider {
        height: 160px;
        width: 100%;
        margin-top: 0;
        overflow: visible;
        /* position: relative; */
    }

    .mask {
        display: block;
        margin-right: 20px;

    }

    .slider li {
        text-align: right;
    }

    .container .links:hover {
        margin-left: 18.7em;
    }
}

@media screen and (max-width: 993px) {
    .container {
        background-size: 55%;
        background-position-x: 100%;
        background-position-y: 70%;
        height: 400px;
    }

    .container-content p {
        max-width: 220px;
        font-family: 'Cutive Mono', monospace;
        font-size: 108%;
        margin-left: 1em;
    }

    .container .links {
        font-size: 110%;
        font-weight: 600;
        font-family: 'Cutive Mono', monospace;
        margin-top: .5rem;
        max-width: 220px;
        margin-left: 1em;
    }

    .qoute-slider {
        min-height: 200px;
        margin-top: 3rem;
        /* position: relative; */
        background-color: var(--paper);
    }

    .slider {
        min-height: 200px;
        width: 100%;
        margin-top: 0;
        overflow: visible;
        /* position: relative; */
    }

    .mask {
        display: block;
        margin-left: 20px;

    }

    .slider li {
        text-align: right;
    }

    .container .links:hover {
        margin-left: .7em;
    }
}

@media screen and (max-width: 770px) {
    .container {
        background-size: 65%;
        background-position-x: 128%;
        background-position-y: 70%;
        height: 400px;
    }

    .container-content p {
        max-width: 175px;
        font-family: 'Cutive Mono', monospace;
        font-size: 108%;
        margin-left: 2em;
    }

    .container .links {
        font-size: 110%;
        font-weight: 600;
        font-family: 'Cutive Mono', monospace;
        margin-top: .5rem;
        max-width: 165px;
        margin-left: 2em;
    }

    .qoute-slider {
        min-height: 200px;
        margin-top: 3rem;
    }

    .slider {
        min-height: 200px;
        width: 100%;
        margin-top: 0;
        margin-right: 3px;
        text-align: right;
    }

    .container .links:hover {
        margin-left: 1.7em;
    }
}

@media screen and (max-width: 570px) {
    .container {
        background-size: 105%;
        background-position-x: 0;
        background-position-y: 70%;
        max-height: 400px;
        justify-content: center;
        text-align: center;
        margin: 1em;
        /* color: white; */
       
    }
 

    .container-content p {
        min-width: 290px;        font-family: 'Cutive Mono', monospace;
        font-size: 108%;
        font-weight: 600;
        background-color: rgba(255, 254, 254, 0.79);
        padding: 1.5rem;
        border-radius: 20px;
        margin-left: 0;
        margin-right: 0;
        box-shadow: 0 0 19px rgb(65, 64, 64);

    }

    .container .links a {
        font-size: 108%;
        font-weight: 600;
        font-family: 'Cutive Mono', monospace;
        margin-top: .5rem;
        min-width: 100%;
        color: white;
    }

    .qoute-slider {
        min-height: 200px;
        margin-top: 3rem;
    }

    .slider {
        min-height: 200px;
        width: 100%;
        margin-top: 0;
        margin-right: 3px;
        text-align: right;
    }

    .container .links:hover {
        font-weight: 900;
    }
}

@keyframes cycle {
    0% {
        opacity: 1;
    }

    4% {
        opacity: 1;
        z-index: 0;
    }

    16% {
        opacity: 0;
        z-index: 0;
    }

    20% {
        opacity: 0;
        z-index: -1;
    }

    21% {

        opacity: 0;
        z-index: -1;
    }

    50% {
        opacity: 0;
        z-index: -1;
    }

    96% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes cycle2 {
    0% {
        opacity: 0;
    }

    16% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    36% {
        opacity: 1;
        z-index: 0;
    }

    40% {
        opacity: 0;
        z-index: 0;
    }

    41% {
        opacity: 0;
        z-index: -1;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes cycle3 {
    0% {
        opacity: 0;
    }

    36% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    44% {
        opacity: 1;
    }

    56% {
        opacity: 1;
        z-index: 0;
    }

    60% {
        opacity: 0;
        z-index: 0;
    }

    61% {
        opacity: 0;
        z-index: -1;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes cycle4 {
    0% {
        opacity: 0;
    }

    56% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    64% {
        opacity: 1;
    }

    76% {
        opacity: 1;
        z-index: 0;
    }

    80% {
        opacity: 1;
        z-index: 0;
    }

    81% {
        opacity: 1;
        z-index: 0;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}