body {
    background-image: linear-gradient(var(--graphite100) 60%, rgb(126, 127, 127));
    color: var(--ink) 20%;
    font-family: 'Lato', sans-serif;
    line-height: 1.2;
}

header {
    background-color: var(--paper);
    background-size: cover;
    padding: 1.7rem;
    padding-top: 1.3rem;
    margin-bottom: .2rem;
    text-align: center;
}

h1 {
    margin-bottom: .1rem;
    font-size: 350%;
    font-weight: 700;
    line-height: 1;
}

header p {
    margin-bottom: 1rem;
    font-size: 110%;
    font-weight: 500;
}

h1 nav {
    display: inline-flex;
}

nav ul {
    margin-top: .5rem;
}

header h1,
nav ul a li {
    display: inline-flex;
    color: var(--ink);
    padding: 7px;
    transition: flex-basis 500ms linear;
}

nav ul a li {
    transition: 500ms;
}

nav ul a li {
    font-size: larger;
    margin-right: 10px;

}

.container {
    display: flex;
    text-align: right;
    margin: 2rem;
    margin-bottom: 0;
    padding: 30px 20px 30px 30px;
    background-color: var(--paper);
    border-radius: 20px;
    box-shadow: 0 0 15px rgb(211, 211, 211);
    background-image: url('../images/bwPortraitRM.jpeg');
    background-size: 70%;
    background-position-x: 130%;
    background-position-y: 70%;
    background-repeat: no-repeat;
    height: 350px;
}

.container-content p {
    max-width: 130px;
    font-family: 'Cutive Mono', monospace;
    font-size: 93%;
    margin-left: -1em;
}

.container .links {
    font-size: 105%;
    font-weight: 600;
    font-family: 'Cutive Mono', monospace;
    margin-top: .5rem;
    max-width: 150px;
    margin-left: -2em;
    transition: .5s;
}

.container a {
    text-decoration: none;
}

.qoute-slider {
    width: 100%;
    height: 180px;
    margin-top: 3rem;
    background-color: var(--paper);
}

.slider {
    position: relative;
}

.mask {
    padding: 2rem;
}

a {
    color: var(--ink);
    text-decoration: none;
}

.slider ul {
    position: relative;
    max-width: 500px;
    text-align: left;
}

.slider li {
    list-style: none;
    position: absolute;
}

q {
    font-size: 20px;
    font-style: italic;
    line-height: 1.2;
}

.slider .source {
    font-size: 14px;
    line-height: 1.5;
}

.slider li.anim1 {
    animation: cycle 25s linear infinite;
}

.slider li.anim2 {
    animation: cycle2 25s linear infinite;
}

.slider li.anim3 {
    animation: cycle3 25s linear infinite;
}

.slider li.anim4 {
    animation: cycle4 25s linear infinite;
}

nav ul a li:hover {
    transform: scale(105%);
    /* font-weight: 600; */
}

a:hover {
    color: var(--graphite300);
}

.container .links:hover {
    margin-left: -2.5em;
}

@media screen and (max-width: 2000px) {
    .container {
        background-size: 45%;
        background-position-x: 100%;
        background-position-y: 70%;
        height: 400px;
    }

    .container-content p {
        max-width: 320px;
        font-family: 'Cutive Mono', monospace;
        font-size: 112%;
        margin-left: 15em;
    }

    .container .links {
        font-size: 114%;
        font-weight: 600;
        font-family: 'Cutive Mono', monospace;
        margin-top: .5rem;
        max-width: 150px;
        margin-left: 24em;
        transition: .5s;
    }

    .container .links:hover {
        margin-left: 23.7em;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        background-size: 45%;
        background-position-x: 100%;
        background-position-y: 70%;
        height: 400px;
    }

    .container-content p {
        max-width: 220px;
        font-family: 'Cutive Mono', monospace;
        font-size: 108%;
        margin-left: 16em;
    }

    .container .links {
        font-size: 110%;
        font-weight: 600;
        font-family: 'Cutive Mono', monospace;
        margin-top: .5rem;
        max-width: 150px;
        margin-left: 19em;
        transition: .5s;
    }

    .container .links:hover {
        margin-left: 18.7em;
    }
}

@media screen and (max-width: 993px) {
    .container {
        background-size: 55%;
        background-position-x: 100%;
        background-position-y: 70%;
        height: 400px;
    }

    .container-content p {
        max-width: 220px;
        font-family: 'Cutive Mono', monospace;
        font-size: 108%;
        margin-left: 1em;
    }

    .container .links {
        font-size: 110%;
        font-weight: 600;
        font-family: 'Cutive Mono', monospace;
        margin-top: .5rem;
        max-width: 220px;
        margin-left: 1em;
    }

    .container .links:hover {
        margin-left: .7em;
    }
}

@media screen and (max-width: 770px) {
    .container {
        background-size: 90%;
        background-position-x: 148%;
        background-position-y: 70%;
        height: 500px;
    }

    .container-content {
        background-color: var(--paper);
        padding: 2rem;
        border-radius: 20px;
        box-shadow: 0 0 18px var(--graphite100);
    }

    .container-content p {
        max-width: 175px;
        font-family: 'Cutive Mono', monospace;
        font-size: 108%;
        margin-left: 1em;
    }

    .container .links {
        font-size: 110%;
        font-weight: 600;
        font-family: 'Cutive Mono', monospace;
        margin-top: .5rem;
        max-width: 165px;
        margin-left: 1em;
    }
}

@media screen and (max-width: 470px) {
    .container {
        background-size: 185%;
        background-position-x: 148%;
        background-position-y: 70%;
        height: 425px;
        margin: 0;
        margin-top: -1;
        margin-bottom: 0;
        border-radius: 0;
    }

    .container-content {
        background-color: var(--paper);
        padding: 2rem;
        border-radius: 20px;
        box-shadow: 0 0 18px var(--graphite100);
    }

    .container-content p {
        max-width: 200px;
        font-family: 'Cutive Mono', monospace;
        font-size: 97%;
        margin-left: 1em;
    }

    .container .links {
        font-size: 110%;
        font-weight: 600;
        font-family: 'Cutive Mono', monospace;
        margin-top: .5rem;
        max-width: 165px;
        margin-left: 1em;
    }

    .container .links:hover {
        margin-left: .7em;
    }
}

@keyframes cycle {
    0% {
        opacity: 1;
    }

    4% {
        opacity: 1;
        z-index: 0;
    }

    16% {
        opacity: 0;
        z-index: 0;
    }

    20% {
        opacity: 0;
        z-index: -1;
    }

    21% {

        opacity: 0;
        z-index: -1;
    }

    50% {
        opacity: 0;
        z-index: -1;
    }

    96% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes cycle2 {
    0% {
        opacity: 0;
    }

    16% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    36% {
        opacity: 1;
        z-index: 0;
    }

    40% {
        opacity: 0;
        z-index: 0;
    }

    41% {
        opacity: 0;
        z-index: -1;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes cycle3 {
    0% {
        opacity: 0;
    }

    36% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    44% {
        opacity: 1;
    }

    56% {
        opacity: 1;
        z-index: 0;
    }

    60% {
        opacity: 0;
        z-index: 0;
    }

    61% {
        opacity: 0;
        z-index: -1;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes cycle4 {
    0% {
        opacity: 0;
    }

    56% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    64% {
        opacity: 1;
    }

    76% {
        opacity: 1;
        z-index: 0;
    }

    80% {
        opacity: 1;
        z-index: 0;
    }

    81% {
        opacity: 1;
        z-index: 0;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}