html {
    background: linear-gradient(var(--graphite100), var(--graphite200), var(--graphite100));
    z-index: 0;
    background-repeat: repeat-y;
}

body {
    color: var(--ink) 20%;
    font-family: 'Lato', sans-serif;
    line-height: 1.2;
}

header {
    background-color: var(--paper);
    background-size: cover;
    padding: 1.7rem;
    padding-top: 1.3rem;
    margin-bottom: .2rem;
    text-align: center;
}

h1 {
    margin-bottom: .1rem;
    font-size: 350%;
    font-weight: 700;
    line-height: 1;
}

header p {
    margin-bottom: 1rem;
    font-size: 110%;
    font-weight: 500;
}

h1 nav {
    display: inline-flex;
}

nav ul {
    margin-top: .5rem;
}

header h1,
nav ul a li {
    display: inline-flex;
    color: var(--ink);
    padding: 7px;
    transition: flex-basis 500ms linear;
}

nav ul a li {
    transition: 500ms;
}

nav ul a li {
    font-size: larger;
    margin-right: 10px;

}

p {
    color: var(--ink);
}

.donate {
    position: fixed;
    right: 30px;
    bottom: 40px;
    z-index: 1;
}

.donate-button {
    width: 105px;
    height: 45px;
    background-color: var(--ink);
    border-radius: 10px;
    color: var(--paper);
    border: none;
    box-shadow: 0 0 17px var(--graphite500);
    transition: 1s;
    z-index: 1;
}

Image {
    z-index: 0;
}

.container,
.portfolio-container {
    display: flex;
    text-align: right;
    margin: 2rem;
    margin-bottom: 2em;
    padding: 30px 20px 30px 30px;
    background-color: var(--paper);
    border-radius: 20px;
    box-shadow: 0 0 15px var(--graphite500);
    background-image: url('../images/bwPortraitRM.jpeg');
    background-size: 70%;
    background-position-x: 130%;
    background-position-y: 70%;
    background-repeat: no-repeat;
    height: 350px;
}

.projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2em;
    background-color: var(--paper);
    box-shadow: 0 0 15px var(--graphite500);
    min-height: 450px;
}

.proj-columns {
    flex: 1 0 50%;
    transition: flex-basis 500ms linear;
}

.proj-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 300px;
    padding: 3rem;
}

.proj-card h3 {
    text-align: center;
    margin-bottom: .5em;
    font-family: 'Cutive Mono', monospace;
    font-size: 150%;
    color: var(--ink);
}

.proj-card p {
    font-family: 'Cutive Mono', monospace;
    font-size: 130%;
    margin-top: .2em;
}

.pics {
    box-shadow: 7px 0 30px var(--graphite500);
    z-index: 0;

}

.proj-links {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Cutive Mono', monospace;
    font-size: 110%;
    padding-top: 1.5em;
    margin-left: 0;
}

.proj-links a {
    border: 1px solid var(--ink);
    padding: .5rem 2rem .5rem 2rem;
    border-radius: 0 0 12px 12px;
    margin-right: .4rem;
}


.proj1 {
    background-image: url('../images/ChildWelfarePortal.jpg');
}

.proj2 {
    background-image: url('../images/BakPak2.png');
}

.container-content p,
.proj2 p {
    max-width: 130px;
    font-family: 'Cutive Mono', monospace;
    font-size: 93%;
    margin-left: -1em;
}

.container-content .about {
    font-size: 130%;
    margin-left: 10em;
    color: var(--ink);
}

.container .links,
.portfolio-container .links,
.proj2 .p2-links {
    font-size: 105%;
    font-weight: 600;
    font-family: 'Cutive Mono', monospace;
    margin-top: .5rem;
    max-width: 150px;
    margin-left: -2em;
    transition: .5s;
}

footer {
    height: 120px;
    background-color: var(--paper);
}

.container a {
    text-decoration: none;
}

.qoute-slider {
    width: 100%;
    height: 180px;
    margin-top: 3rem;
    background-color: var(--paper);
}

.slider {
    position: relative;
}

.mask {
    padding: 2rem;
}

a {
    color: var(--ink);
    text-decoration: none;
}

.slider ul {
    position: relative;
    max-width: 500px;
    text-align: left;
}

.slider li {
    list-style: none;
    position: absolute;
}

q {
    font-size: 20px;
    font-style: italic;
    line-height: 1.2;
}

.slider .source {
    font-size: 14px;
    line-height: 1.5;
}

.slider li.anim1 {
    animation: cycle 25s linear infinite;
}

.slider li.anim2 {
    animation: cycle2 25s linear infinite;
}

.slider li.anim3 {
    animation: cycle3 25s linear infinite;
}

.slider li.anim4 {
    animation: cycle4 25s linear infinite;
}

nav ul a li:hover {
    transform: scale(105%);
    /* font-weight: 600; */
}

a:hover {
    color: var(--graphite300);
}

.donate-button:hover {
    transform: scale(112%);
}

.proj-links a:hover,
.proj-links a:focus,
.proj-links a:active {
    color: var(--ink);
    background-color: var(--secondary);
    box-shadow: 0 5px 10px var(--graphite100);
}

.proj-links a+a:hover,
.proj-links a+a:focus,
.proj-links a+a:active {
    background-color: var(--primary);
    color: var(--ink);
}

@media screen and (max-width: 3000px) {
    .container {
        background-size: 45%;
        background-position-x: 100%;
        background-position-y: 70%;
        height: 400px;
    }

    .portfolio-container {
        background-size: 70%;
        background-position-x: 130%;
        background-position-y: 0%;
        background-repeat: no-repeat;
        height: 450px;
    }

    .proj-columns {
        flex: 0 0 25%;
    }

    .proj-links {
        font-size: 110%;
        padding-top: 1em;
    }

    .proj-links a {
        border: 1px solid var(--ink);
        padding: .3rem 1rem .3rem 1rem;
        margin-right: .5rem;
    }

    .container-content p,
    .portfolio-container p,
    .proj2 p {
        max-width: 220px;
        font-family: 'Cutive Mono', monospace;
        font-size: 150%;
        margin-left: 5em;
    }

    .container-content .about {
        max-width: 300px;
        font-size: 130%;
        margin-left: 12em;
    }

    .container .links,
    .portfolio-container .links,
    .proj2 .p2-links {
        font-size: 134%;
        font-weight: 600;
        font-family: 'Cutive Mono', monospace;
        margin-top: .5rem;
        max-width: 350px;
        margin-left: 10em;
        transition: .5s;
    }

}

@media screen and (max-width: 1200px) {
    .container {
        background-size: 45%;
        background-position-x: 100%;
        background-position-y: 70%;
        height: 400px;
    }

    .portfolio-container {
        background-size: 55%;
        background-position-x: 108%;
        background-position-y: 70%;
        height: 400px;
    }

    .proj-columns {
        flex: 1 0 50%;
    }


    .container-content p,
    .portfolio-container p,
    .proj2 p {
        max-width: 280px;
        font-family: 'Cutive Mono', monospace;
        font-size: 130%;
        margin-left: 5em;
    }

    .container-content .about {
        max-width: 270px;
        font-size: 130%;
        margin-left: 10em;
    }

    .container .links,
    .portfolio-container .links,
    .proj2 .p2-links {
        font-size: 130%;
        font-weight: 600;
        font-family: 'Cutive Mono', monospace;
        margin-top: .5rem;
        max-width: 280px;
        margin-left: 12em;
        transition: .5s;
    }


}

@media screen and (max-width: 993px) {
    .container {
        background-size: 55%;
        background-position-x: 100%;
        background-position-y: 70%;
        height: 400px;
    }

    .portfolio-container {
        background-size: 70%;
        background-position-x: 120%;
        background-position-y: 80%;
        height: 400px;
    }

    .proj-columns {
        flex: 1 0 50%;
    }

    .container-content p,
    .portfolio-container p,
    .proj2 p {
        max-width: 220px;
        font-family: 'Cutive Mono', monospace;
        font-size: 150%;
        margin-left: 2em;
    }

    .container-content .about {
        max-width: 270px;
        font-size: 130%;
        margin-left: 3em;
    }

    .container .links,
    .portfolio-container .links,
    .proj2 .p2-links {
        font-size: 130%;
        font-weight: 600;
        font-family: 'Cutive Mono', monospace;
        margin-top: .5rem;
        max-width: 220px;
        margin-left: 6em;
    }

}

@media screen and (max-width: 770px) {
    .container {
        background-size: 80%;
        background-position-x: 158%;
        background-position-y: 70%;
        height: 440px;
    }

    .portfolio-container {
        background-size: 150%;
        background-position-x: 18%;
        background-position-y: 20%;
        height: 440px;
    }

    .proj-columns {
        flex: 1 0 50%;
    }

    .container-content,
    .cc2 {
        background-color: var(--paper);
        padding: 2rem;
        width: 300px;
        border-radius: 20px;
        box-shadow: 0 0 18px rgba(0, 0, 0, 0.368);
    }

    .container-content p,
    .portfolio-container p,
    .proj2 p {
        max-width: 175px;
        font-family: 'Cutive Mono', monospace;
        font-size: 150%;
        margin-left: 3em;
    }

    .container-content .about {
        max-width: 250px;
        font-size: 120%;
    }

    .container .links,
    .portfolio-container .links,
    .proj2 .p2-links {
        font-size: 120%;
        font-weight: 600;
        font-family: 'Cutive Mono', monospace;
        margin-top: .5rem;
        max-width: 165px;
        margin-left: 4em;
    }
}

@media screen and (max-width: 470px) {
    .container {
        background-size: 185%;
        background-position-x: 148%;
        background-position-y: 70%;
        height: 440px;
        margin: 0;
        margin-top: -1;
        margin-bottom: 0;
        border-radius: 0;
    }

    .portfolio-container {
        background-size: 205%;
        background-position-x: 18%;
        background-position-y: 70%;
        height: 440px;
        margin: 0;
        margin-top: 1em;
        margin-bottom: 1em;
        border-radius: 0;
    }

    .proj-columns {
        flex: 1 0 100%;
    }

    .container-content,
    .cc2 {
        padding: 2rem;
        width: 300px;
        border-radius: 20px;
    }

    .container-content p,
    .proj2 p {
        max-width: 200px;
        font-family: 'Cutive Mono', monospace;
        font-size: 120%;
        margin-left: 4em;
    }

    .about {
        font-size: 100%;
    }

    .container .links,
    .portfolio-container .links,
    .proj2 .p2-links {
        font-size: 120%;
        font-weight: 600;
        font-family: 'Cutive Mono', monospace;
        margin-top: .5rem;
        max-width: 165px;
        margin-left: 4em;
    }

    /* .container .links:hover {
        margin-left: .7em;
    } */
}

@keyframes cycle {
    0% {
        opacity: 1;
    }

    4% {
        opacity: 1;
        z-index: 0;
    }

    16% {
        opacity: 0;
        z-index: 0;
    }

    20% {
        opacity: 0;
        z-index: -1;
    }

    21% {

        opacity: 0;
        z-index: -1;
    }

    50% {
        opacity: 0;
        z-index: -1;
    }

    96% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes cycle2 {
    0% {
        opacity: 0;
    }

    16% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    36% {
        opacity: 1;
        z-index: 0;
    }

    40% {
        opacity: 0;
        z-index: 0;
    }

    41% {
        opacity: 0;
        z-index: -1;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes cycle3 {
    0% {
        opacity: 0;
    }

    36% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    44% {
        opacity: 1;
    }

    56% {
        opacity: 1;
        z-index: 0;
    }

    60% {
        opacity: 0;
        z-index: 0;
    }

    61% {
        opacity: 0;
        z-index: -1;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes cycle4 {
    0% {
        opacity: 0;
    }

    56% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    64% {
        opacity: 1;
    }

    76% {
        opacity: 1;
        z-index: 0;
    }

    80% {
        opacity: 1;
        z-index: 0;
    }

    81% {
        opacity: 1;
        z-index: 0;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}