html {
  z-index: 0;
  scroll-behavior: smooth;
}

.this-site-container {
  box-shadow: 0 17px 20px rgba(0, 0, 0, 0.212);
  padding: 2em;
  margin-bottom: 3em;
}

body {
  color: var(--ink);
  font-family: "Open Sans", sans-serif;
  line-height: 1.2;
  background-color: var(--nightOcean);
}

header {
  padding: 1.3rem;
  padding-top: 2rem;
  padding-left: 2rem;
  text-align: left;
}

h1 {
  font-size: 7.4svw;
  font-weight: 700;
  line-height: 1;
  font-style: italic;
}

header h4 {
  margin-bottom: 1rem;
  font-size: 110%;
  font-weight: 500;
  font-style: italic;
}

nav ul {
  margin-top: 2rem;
  display: flex;
  justify-content: left;
}

header h1,
nav ul li {
  display: inline;
  color: var(--ink);
}

nav ul li {
  padding: 7px;
  font-size: 2.4svw;
}

#about {
  padding-left: 0.7svw;
}

p {
  color: var(--ink);
}

.aboutbox {
    display: flex;
    background-color: rgb(10, 20, 49);
    width: 100%;
    height: auto;
}

.coverLogo p {
  color: white;
}

.iconUl {
  text-align: right;
  transition: 0.5s;
  float: right;
  z-index: 1;
  /* margin-top: 1%; */
  margin-right: 1%;
}

.iconUl:hover {
 cursor: pointer;
}

.toTop {
  position: fixed;
  right: 30px;
  bottom: 100px;
  z-index: 1;
}

.donate {
  position: fixed;
  right: 30px;
  bottom: 40px;
  z-index: 1;
}

.toTop-button {
  width: 105px;
  height: 45px;
  background-color: var(--ink);
  border-radius: 10px;
  color: var(--paper);
  border: none;
  box-shadow: 0 17px 20px rgba(0, 0, 0, 0.65);
  transition: 0.5s ease-in-out;
  z-index: 1;
}

.donate-button {
  width: 105px;
  height: 45px;
  background-color: var(--ink);
  border-radius: 10px;
  color: var(--paper);
  border: none;
  box-shadow: 0 17px 20px rgba(0, 0, 0, 0.65);
  transition: 0.7s;
  z-index: 1;
}

.text {
  font-family: "Roboto Slab", sans-serif;
  color: white;
  text-align: center;
}

.container,
.portfolio-container {
  display: flex;
  text-align: right;
  justify-content: center;
  margin-bottom: 2em;
  margin-top: 0;
  background-color: var(--ink);
  box-shadow: 0 17px 20px rgba(0, 0, 0, 0.304);
  transition: 0.5s;
}

.container {
  margin-left: 0%;
  margin-right: 0%;
  min-height: 325px;
}

.coverLogo {
  display: flex;
  justify-content: left;
  align-items: left;
  background-color: rgb(243, 244, 245);
}

#vidBox {
  display: flex;
  justify-content: left;
  margin: 4rem;
  margin-left: 5rem;
  margin-bottom: 3rem;
  flex-wrap: wrap;
}

#vid {
  width: 35vw;
  border-radius: 20px;
  box-shadow: 8px 10px 20px rgba(0, 0, 0, 0.33);
  margin-bottom: 0.3rem;
}

.projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 3em;
  margin-top: 3em;
}

.home-container-content,
.container-content,
.cc2 {
  max-width: 25%;
}

.proj-columns {
  flex: 1 0 50%;
  transition: flex-basis 500ms linear;
}

.proj-row {
  display: flex;
  flex: 1 0 20%;
  flex-direction: row;
  transition: flex-basis 500ms linear;
}

.proj-row-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1rem;
  margin-left: 20px;
}

.proj-card {
  display: flex;
  flex-direction: column;
  justify-content: left;
  min-height: 300px;
  padding: 3rem;
}

.proj-card h3 {
  text-align: left;
  margin-bottom: 0.5em;
  margin-top: 0.5rem;
  font-family: "Cutive Mono", monospace;
  font-family: "Open Sans", sans-serif;
  font-size: 150%;
  color: var(--ink);
}

.proj-card p {
  font-family: "Cutive Mono", monospace;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  font-size: 115%;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

.proj-card ul,
.proj1 ul,
.proj2 ul {
  font-family: "Cutive Mono", monospace;
  font-family: "Open Sans", sans-serif;
  font-size: 110%;
}

.pics {
  box-shadow: 15px 19px 37px rgba(0, 0, 0, 0.257);
  z-index: 0;
  min-height: 315px;
  min-width: 325px;
}

.proj-links {
  display: flex;
  text-align: center;
  justify-content: left;
  font-family: "Open Sans", sans-serif;
  font-size: 110%;
  padding-top: 1.1em;
  margin-left: 0;
}

.proj-links a {
  width: 130px;
  background-color: white;
  color: var(--ink);
  font-weight: 500;
  box-shadow: 10px, 8px, 15px, rgba(0, 0, 0, 0.79);
  border-radius: 6px;
  transition: 0.5s ease-in-out;
}

.proj-links a + a {
  background-color: rgb(227, 229, 232);
  margin-left: 0.5em;
}

.home-container-content p,
.home-container-content h2,
.container-content p,
.container-content h2,
.cc2 h2,
.proj2 p {
  font-family: "Cutive Mono", monospace;
  font-family: "Open Sans", sans-serif;
  font-size: 120%;
}

.home-container-content .about {
  font-size: 130%;
  color: var(--ink);
}

.container .links,
.portfolio-container .links,
.proj2 .links {
  font-size: 120%;
  font-family: "Cutive Mono", monospace;
  font-family: "Open Sans", sans-serif;
  margin-top: 0.8rem;
}

h4 {
  font-family: "Cutive Mono", monospace;
  font-family: "Open Sans", sans-serif;
  font-size: 110%;
}

.edCard {
  margin: 1em;
}

.edCard h3 {
  font-size: 20px;
}

.this-site-container h4 {
  margin-bottom: 0.5rem;
}

.this-site-container p {
  font-family: "Open Sans", sans-serif;
  font-size: 120%;
  margin-top: 0.5rem;
}

footer {
  min-height: 100px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding-top: 3em;
  padding-bottom: 0.1em;
  position: relative;
}

footer p {
  font-weight: 500;
}

.container a {
  text-decoration: none;
}

.qoute-slider {
  margin-left: 5%;
  margin-top: 5%;
}

.mask {
  /* padding: 2rem; */
  padding-top: 0;
}

a {
  color: white;
  text-decoration: none;
}

.slider ul {
  position: relative;
  text-align: left;
}

.slider li {
  list-style: none;
  position: absolute;
}

q {
  font-size: 200%;
  font-weight: 700;
  line-height: 1.5;
}


.slider .source {
  font-size: 18px;
  line-height: 1.5;
}

.slider li.anim1 {
  animation: cycle 25s linear infinite;
}

.slider li.anim2 {
  animation: cycle2 25s linear infinite;
}

.slider li.anim3 {
  animation: cycle3 25s linear infinite;
}

.slider li.anim4 {
  animation: cycle4 25s linear infinite;
}

.slider li.anim5 {
  animation: cycle5 25s linear infinite;
}

.row {
  z-index: 1;
  width: 95%;
  margin-left: 1%;
}

.quotebox {
  background-color: black;
  width: 52svw;
  height: 32svh;
  margin-left: 5%;
  margin-top: 5%;
  z-index: 1;
  position: absolute;
}

/*/////////////////******* RESUME PAGE ********* ///////////// */

.resume-light,
.resume-dark {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  line-height: 1.4;
  justify-content: center;
}

.resume-dark {
  color: var(--paper);
}

.resume-col {
  flex-direction: column;
  flex: 1 0 25%;
  padding-top: 0;
}

.resume-light h2 {
  font-size: 120%;
  font-weight: 900;
  color: var(--ink);
  margin-bottom: 0.5rem;
  text-align: center;
}

.resume-dark h2 {
  font-size: 120%;
  font-weight: 900;
  color: var(--paper);
  margin-bottom: 0.5rem;
  text-align: center;
}

.resume-light h3,
.resume-dark h3 {
  font-size: 100%;
  line-height: 1.3;
}

.resume-light h4,
.resume-dark h4 {
  font-weight: 400;
  line-height: 1.3;
  font-size: 100%;
  margin-bottom: 0.3rem;
}

.resume-light p,
.resume-dark p {
  line-height: 1.3;
}

.resume-light ul,
.resume-dark ul {
  list-style: disc;
  margin-left: 3%;
  margin-top: 0.3rem;
}

.featured-light h3,
.featured-dark h3 {
  font-size: 110%;
}

.featured-light h4,
.featured-light p,
.featured-dark h4,
.featured-dark p {
  font-size: 100%;
}

.featured-light .proj-links,
.featured-dark .proj-links {
  margin-top: -10px;
  justify-content: flex-start;
}

.featured-dark h4 {
  color: var(--paper);
}

.skillRow {
  display: flex;
  flex-wrap: wrap;
}

.skillPoint {
  flex-direction: column;
  flex: 1 0 20%;
}

.featured-light .skillPoint {
  background-color: white;
  color: var(--ink);
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.325);
}

/* ********CONTACT PAGE******** */
.contact-light,
.contact-dark {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2rem;
  margin-top: -30px;
  margin-bottom: 1rem;
  justify-content: center;
}

.contact-row {
  flex-direction: column;
  flex: 1 0 100%;
  padding: 1rem;
  margin: 0.5rem;
  width: 290px;
}

.error-text {
  padding: 1em;
  text-align: center;
}

.skillPoint {
  padding: 1em;
  margin: 0.5em;
  background-color: var(--ink);
  color: var(--paper);
  border-radius: 8px;
  text-align: center;
}

button {
  background-color: var(--primary);
  border: none;
  /* border-radius: 8px; */
  color: var(--paper);
  font-size: 110%;
  font-weight: 700;
}

.contact-dark .error-text {
  color: var(--paper);
}

/* *************:::::::::::::::************ PSEUDO *************::::::::::************************ */

.clicked,
.clicked li {
  background-color: rgb(0, 0, 0);
  color: white;
  transition: 0.5s ease-in;
}

nav ul a li:hover,
nav ul a li:focus {
  color: white;
}

.proj1 .links a:hover,
.proj2 .links a:hover,
.links a:hover {
  background-color: var(--primary);
  color: var(--paper);
  padding: 0.3rem;
  font-weight: 700;
}

.homeLinks a:hover {
  text-decoration: none;
  color: var(--primary);
}

.dark .homeLinks a:hover,
.homeLinks a:focus {
  color: var(--primary);
}

.pics:hover {
  box-shadow: 9px 30px 32px -15px rgba(0, 0, 0, 0.632);
}


.toTop-button:hover {
  background-color: var(--primary);
  /* color: var(--ink); */
}

.donate-button:hover {
  transform: scale(108%);
}

.proj1,
.proj2 {
  transition: 0.6s;
}

.container:hover,
.proj1:hover,
.proj2:hover,
.proj1:active,
.proj2:active {
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.412);
}

.proj-links a:hover,
.proj-links a:focus,
.proj-links a:active {
  background-color: #ffee56;
}

.proj-links a + a:hover,
.proj-links a + a:focus,
.proj-links a + a:active {
  background-color: #55c6e6;
}

button:hover {
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.412);
}

input[type="text"]:focus,
textarea[type="textarea"]:focus,
input[type="text"]:active,
textarea[type="textarea"]:active {
  outline: none;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.412);
  border: 1px solid var(--ink);
}

/******************* DARKMODE ******************/

.dark .container {
  background-color: var(--ink);
}

.dark,
.dark-qoute-slider {
  color: var(--nightpaper);
  /* font-weight: 600; */
}

.dark h1,
.dark p,
.dark .about,
.dark .homeLinks a,
.dark ul li,
.dark ul li p,
.dark-qoute-slider ul,
.dark-qoute-slider p,
.dark h2,
.dark h3,
.dark h4 {
  color: var(--nightpaper);
}

.dark .proj-links a {
  background-color: rgb(173, 172, 172);
}

.dark .proj-links a + a {
  background-color: rgb(138, 137, 137);
}

.dark .proj-links a:hover,
.featured-dark .proj-links a:hover {
  box-shadow: none;
  background-color: var(--nightpaper);
}

.dark .proj-links a:hover {
  color: var(--ink);
}

footer .dark {
  height: 50px;
}

.light-background-all {
  background-color: var(--paper);
  color: var(--ink);
  transition: 1s ease-in-out;
}

.dark-background-all {
  background-color: var(--nightOcean);
  color: var(--nightpaper);
  transition: 1s ease-in-out;
}


@media screen and (max-width: 10000px) {
  .container {
    margin-left: 15%;
    margin-right: 15%;
    height: 450px;
  }

  .portfolio-container {
    background-size: 90%;
    background-position-x: 320%;
    background-position-y: 0%;
    background-repeat: no-repeat;
    height: 450px;
  }

  .proj-card {
    padding: 1.7rem;
  }

  .pics {
    max-height: 500px;
    min-height: 500px;
    min-width: 0;
  }

  .proj-columns {
    flex: 0 0 33%;
  }

  .proj-links {
    font-size: 110%;
    padding-top: 1em;
  }

  .proj-links a {
    padding: 0.7em;
    margin-right: 0.5rem;
  }

  .home-container-content p,
  .home-container-content h2,
  .container-content p,
  .container-content h2,
  .cc2 h2,
  .proj2 p {
    font-size: 160%;
  }

  .home-container-content .about {
    font-size: 130%;
  }

  .container .links,
  .portfolio-container .links,
  .proj2 .links {
    font-size: 140%;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    height: 450px;
    margin-left: 15%;
    margin-right: 15%;
  }

  .portfolio-container {
    background-size: 105%;
    background-position-x: 30%;
    background-position-y: 30%;
    height: 400px;
  }

  #vidBox {
    padding: 0;
    justify-content: center;
    margin-bottom: 3rem;
    margin-top: 1rem;
  }

  #vid {
    width: 50vw;
    margin: 0;
    margin-left: 0;
  }

  .qoute-slider {
    margin-left: 14rem;
  }

  .container-content,
  .cc2 {
    padding: 2rem;
    min-width: 55%;
    height: 90%;
    border-radius: 20px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.368);
  }

  .home-container-content {
    padding: 2rem;
    min-width: 55%;
    height: 60%;
    border-radius: 20px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.368);
  }

  .dark .home-container-content,
  .dark .container-content,
  .dark .cc2 {
    background-color: var(--deepOcean);
  }

  .proj-columns {
    flex: 1 0 50%;
  }

  .container-content p,
  .container-content h2,
  .cc2 h2,
  .proj2 p {
    font-size: 150%;
  }

  .home-container-content .about {
    font-size: 130%;
  }

  .container .links,
  .portfolio-container .links,
  .proj2 .links {
    font-size: 130%;
  }
}

@media screen and (max-width: 993px) {
  .container {
    min-height: 400px;
  }

  .portfolio-container {
    background-size: 145%;
    background-position-x: 0%;
    background-position-y: 0%;
    min-height: 675px;
  }

  .proj-columns {
    flex: 1 0 100%;
  }

  #vidBox {
    padding: 0;
    justify-content: center;
    margin-bottom: 3rem;
    margin-top: 1rem;
  }

  #vid {
    width: 55vw;
    margin: 0;
    margin-left: 0;
  }

  .qoute-slider {
    margin-left: 11rem;
  }

  .home-container-content p,
  .home-container-content h2,
  .container-content p,
  .container-content h2,
  .cc2 h2,
  .proj2 p {
    font-size: 150%;
  }

  .container-content .about {
    font-size: 130%;
  }

  .container .links,
  .portfolio-container .links,
  .proj2 .links {
    font-size: 130%;
  }
}

@media screen and (max-width: 770px) {
  .container {
    min-height: 440px;
  }

  .portfolio-container {
    background-size: 270%;
    background-position-x: 20%;
    background-position-y: 60%;
    min-height: 820px;
  }

  #vidBox {
    padding: 0;
    justify-content: center;
    margin-bottom: 3rem;
    margin-top: 1rem;
  }

  #vid {
    width: 60vw;
    margin: 0;
    margin-left: 0;
  }

  .qoute-slider {
    margin-left: 7rem;
  }

  .proj-columns {
    flex: 1 0 100%;
  }

  .home-container-content,
  .container-content,
  .cc2 {
    padding: 2rem;
    min-width: 75%;
    border-radius: 20px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.368);
  }

  .home-container-content p,
  .home-container-content h2,
  .container-content p,
  .container-content h2,
  .cc2 h2,
  .proj2 p {
    font-size: 150%;
  }

  .home-container-content .about {
    font-size: 120%;
  }

  .container .links,
  .portfolio-container .links,
  .proj2 .links {
    font-size: 120%;
  }

  .resume-dark,
  .resume-light {
    margin: 1rem;
  }

  .resume-col {
    flex: 1 0 100%;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 550px) {
  .container {
    min-height: 440px;
  }

  .portfolio-container {
    background-size: 290%;
  }

  #vidBox {
    padding: 0;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 0;
  }

  #vid {
    width: 70vw;
    margin: 0;
    margin-left: 0;
  }

  .qoute-slider {
    margin-left: 3rem;
  }

  .proj-card {
    padding: 1.3rem;
  }

  .pics {
    min-height: 0;
    min-width: 0;
  }

  .container-content,
  .cc2 {
    min-height: 740px;
  }

  .resume-dark,
  .resume-light {
    margin: 0;
  }

  .resume-col {
    flex: 1 0 100%;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 470px) {
  .container {
    min-height: 190px;
    margin: 0;
    margin-top: -1;
    margin-bottom: 2;
    border-radius: 0;
    margin-left: 5%;
    margin-right: 5%;
  }

  #vidBox {
    padding: 0;
    justify-content: center;
    margin-bottom: 2rem;
  }

  #vid {
    width: 70vw;
    margin: 0;
    margin-left: 0;
  }

  .portfolio-container {
    background-size: 375%;
    background-position-x: 18%;
    background-position-y: 30%;
    margin: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 0;
    min-width: 100%;
    min-height: 850px;
  }

  .proj-card {
    padding: 1rem;
  }

  .proj-columns {
    flex: 1 0 100%;
  }

  .home-container-content,
  .container-content,
  .cc2 {
    padding: 2rem;
    padding-top: 1rem;
    min-width: 97%;
    min-height: 90%;
    border-radius: 20px;
  }

  .home-container-content {
    display: flex;
    flex-direction: column;
  }

  .home-container-content p,
  .home-container-content h2,
  .container-content p,
  .container-content h2,
  .cc2 h2,
  .proj2 p {
    font-size: 130%;
  }

  .about {
    font-size: 100%;
  }

  .container .links,
  .portfolio-container .links,
  .proj2 .links {
    font-size: 120%;
  }

  .resume-dark,
  .resume-light {
    margin: 1rem;
  }
}

@keyframes cycle {
    0% {
        opacity: 0;
        z-index: -1;
    }
    5% {
        opacity: 1;
        z-index: 1;
    }
    12% {
        opacity: 0;
        z-index: -1;
    }
    20% {
        opacity: 0;
        z-index: 0;
    }
    30% {
        opacity: 0;
        z-index: 0;
    }
    40% {
        opacity: 0;
        z-index: 0;
    }
    50% {
        opacity: 0;
        z-index: 0;
    }
    60% {
        opacity: 0;
        z-index: 0;
    }
    70% {
        opacity: 0;
        z-index: 0;
    }
    80% {
        opacity: 0;
        z-index: 0;
    }
    95% {
        opacity: 0;
        z-index: 0;
    }
    100% {
        opacity: 0;
        z-index: 0;
    }
}

@keyframes cycle2 {
    0% {
        opacity: 0;
        z-index: 0;
    }
    5% {
        opacity: 0;
        z-index: 0;
    }
    13% {
        opacity: 0;
        z-index: -1;
    }
    20% {
        opacity: 1;
        z-index: 1;
    }
    32% {
        opacity: 0;
        z-index: -1;
    }
    40% {
        opacity: 0;
        z-index: 0;
    }
    50% {
        opacity: 0;
        z-index: 0;
    }
    60% {
        opacity: 0;
        z-index: 0;
    }
    70% {
        opacity: 0;
        z-index: 0;
    }
    80% {
        opacity: 0;
        z-index: 0;
    }
    90% {
        opacity: 0;
        z-index: 0;
    }
    95% {
        opacity: 0;
        z-index: 0;
    }
    100% {
        opacity: 0;
        z-index: 0;
    }
}

@keyframes cycle3 {
    0% {
        opacity: 0;
        z-index: 0;
    }
    5% {
        opacity: 0;
        z-index: 0;
    }
    13% {
        opacity: 0;
        z-index: 0;
    }
    20% {
        opacity: 0;
        z-index: 0;
    }
    32% {
        opacity: 0;
        z-index: -1;
    }
    40% {
        opacity: 1;
        z-index: 1;
    }
    50% {
        opacity: 0;
        z-index: -1;
    }
    60% {
        opacity: 0;
        z-index: 0;
    }
    70% {
        opacity: 0;
        z-index: 0;
    }
    80% {
        opacity: 0;
        z-index: 0;
    }
    90% {
        opacity: 0;
        z-index: 0;
    }
    95% {
        opacity: 0;
        z-index: 0;
    }
    100% {
        opacity: 0;
        z-index: 0;
    }
}

@keyframes cycle4 {
    0% {
        opacity: 0;
        z-index: 0;
    }
    5% {
        opacity: 0;
        z-index: 0;
    }
    13% {
        opacity: 0;
        z-index: 0;
    }
    20% {
        opacity: 0;
        z-index: 0;
    }
    32% {
        opacity: 0;
        z-index: 0;
    }
    40% {
        opacity: 0;
        z-index: 0;
    }
    50% {
        opacity: 0;
        z-index: -1;
    }
    60% {
        opacity: 1;
        z-index: 1;
    }
    70% {
        opacity: 0;
        z-index: -1;
    }
    80% {
        opacity: 0;
        z-index: 0;
    }
    90% {
        opacity: 0;
        z-index: 0;
    }
    95% {
        opacity: 0;
        z-index: 0;
    }
    100% {
        opacity: 0;
        z-index: 0;
    }
}

@keyframes cycle5 {
    0% {
        opacity: 0;
        z-index: 0;
    }
    5% {
        opacity: 0;
        z-index: 0;
    }
    13% {
        opacity: 0;
        z-index: 0;
    }
    20% {
        opacity: 0;
        z-index: 0;
    }
    32% {
        opacity: 0;
        z-index: 0;
    }
    40% {
        opacity: 0;
        z-index: 0;
    }
    50% {
        opacity: 0;
        z-index: 0;
    }
    60% {
        opacity: 0;
        z-index: 0;
    }
    70% {
        opacity: 0;
        z-index: -1;
    }
    80% {
        opacity: 1;
        z-index: 1;
    }
    90% {
        opacity: 1;
        z-index: 1;
    }
    95% {
        opacity: 0;
        z-index: -1;
    }
    100% {
        opacity: 0;
        z-index: 0;
    }
}
