:root {
    --ink: hwb(0 8% 92%);
    --paper: hwb(40 98% 1%);
    --nightpaper: hwb(30 93% 1%);
    --primary: hwb(330 2% 8%);
    --secondary: hwb(190 11% 36%);
    --graphite100: rgba(217, 218, 218, 0.863);
    --deepOcean: #2d373c;
    --deepOcean: #2b2e35;
    --nightSky: #1c232d;
    --testDark: #252628;
    --liveGreen: hwb(141 25% 32%);
    --liveGreen2: hwb(141 35% 20%);
    --repoBlue: hwb(179 25% 32%);
    --repoBlue2: hwb(179 33% 18%);
}